<div class="row d-flex justify-content-start mt-5">
	<div class="col-2"> </div>
	<div class="col-2">
		<button type="button" class="btn btn-danger"  (click)="indietro()"> <- Indietro</button>
	</div>
</div>
<div class="row d-flex justify-content-around mt-4">
	<h3>{{ time | date: 'hh:mm:ss a' }}</h3>
	<h3>Cameriere: {{us.get_username()}}</h3>
</div>


<div class="row d-flex justify-content-start">
		<div class="col-12">
			<div class="list-group mb-4 " id="list-tab" role="tablist">
				<p class="h3 mt-5 d-flex justify-content-center">Bibite da consegnare</p>
				<div class="list-group">
					<div class="row d-flex justify-content-center">
						<div class="col-12">
							<div *ngIf="errmessage2" class="alert alert-danger mt-4 mb-0" role="alert">
								{{errmessage2}}
							</div>
						</div>
					</div>
					<div *ngFor="let message of messages">
						<li  class="list-group-item pl-1 d-flex justify-content-center">
							<div class="row">	
								<div class="col-6 d-flex justify-content-center">
									<h5> Tavolo n.{{message.tavolo}} </h5> 
								</div >
								<div class="col-6 d-flex justify-content-center">
									Persone: {{message.persone_da_servire}}
								</div>
								<div class="col-6 mt-2 d-flex justify-content-center">
									Ora ordinazione: {{message.ora_ordine | date: 'hh:mm:ss a' }}
								</div>
								<div class="col-6 mt-2 d-flex justify-content-center"> 
									<button type="button" class="btn btn-warning px-1 py-0" (click)="btn_bibite_consegnate(message._id)">Bibite consegnate</button>
								</div>
							</div>	
						</li>
					</div>
				</div>
				<p class="h3 mt-5 d-flex justify-content-center">Pizze da consegnare</p>
				<div class="list-group">
					<div class="row d-flex justify-content-center">
						<div class="col-12">
							<div *ngIf="errmessage3" class="alert alert-danger mt-4 mb-0" role="alert">
								{{errmessage3}}
							</div>
						</div>
					</div>
					<div *ngFor="let message of messages2">
						<li  class="list-group-item pl-1 d-flex justify-content-center">
							<div class="row">	
								<div class="col-6 d-flex justify-content-center">
									<h5> Tavolo n.{{message.tavolo}} </h5> 
								</div >
								<div class="col-6 d-flex justify-content-center">
									Persone: {{message.persone_da_servire}}
								</div>
								<div class="col-6 mt-2 d-flex justify-content-center">
									Ora ordinazione: {{message.ora_ordine | date: 'hh:mm:ss a' }}
								</div>
								<div class="col-6 mt-2 d-flex justify-content-center">
									<button type="button" (click)="btn_pizze_consegnate(message._id)" class="btn btn-warning px-1 py-0">Pizze consegnate</button>
								</div>
							</div>	
						</li>
					</div>
				</div>
				
				<div class="row d-flex justify-content-center">
					<div class="col-12">
						<div *ngIf="errmessage" class="alert alert-danger mt-4 mb-0" role="alert">
							 Ops: {{errmessage}}
						</div>
					</div>
				</div>
				<div class="row d-flex justify-content-center">
					<div class="col-12">
						<div *ngIf="posmessage" class="alert alert-success mt-4 mb-0" role="alert">
							 {{posmessage}}
						</div>
					</div>
				</div>	
			</div>
		</div>
</div>

